@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Monserrat/montserrat-v13-cyrillic_latin-regular.woff2")
        format("woff2"),
      url("../fonts/Monserrat/montserrat-v13-cyrillic_latin-regular.woff")
        format("woff");
  }
  
   
  @font-face {font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Monserrat/montserrat-v13-cyrillic_latin-700.woff2")
        format("woff2"),
      url("../fonts/Monserrat/montserrat-v13-cyrillic_latin-700.woff")
        format("woff");
  
  }
    
  @font-face {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      src: url("../fonts/Roboto/roboto-v19-latin-300.woff2")
          format("woff2"),
        url("../fonts/Roboto/roboto-v19-latin-300.woff") format("woff");
    }
    
    @font-face {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      src: url("../fonts/Roboto/roboto-v19-latin-regular.woff2")
          format("woff2"),
        url("../fonts/Roboto/roboto-v19-latin-regular.woff") format("woff");
    }
  
   
    @font-face {
      font-family: "Kaushan Script";
      font-style: normal;
      font-weight: 400;
      src: url("../fonts/Kaushan/kaushan-script-v8-latin-regular.woff2")
          format("woff2"),
        url("../fonts/Kaushan/kaushan-script-v8-latin-regular.woff") format("woff");
    }