.banner-wrapper {
  width: 100%;
  min-height: 1000px;
  margin: 0 auto;
  @include image-with-gradient(
    linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(242, 129, 129, 0.9)),
    url('../images/banner.png')
  );

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @include image-with-gradient(
      linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9),
        rgba(242, 129, 129, 0.9)
      ),
      url('../images/banner@x2.png')
    );
  }
}
