//  Color
$main-text-color: #333333;
$text-color-light: #999999;
$hover-color: #fce38a;
$banner-color: #ffffff;
$icon-color: #95e1d3;
$gradiend-color: #f38181;
$border-color:#e7e7e7;

// Fonts
$main-font: 'Monserat', Arial, Helvetica, sans-serif;
$text-font: 'Roboto', Arial, Helvetica, sans-serif;
$title-italics-font: 'Kaushan Script', Arial, Helvetica, sans-serif;
