
.banner-page {
  text-align: center;
  color: $banner-color;
  font-family: $main-font;
}

.banner-page_title {
  font-family: $title-italics-font;
  font-style: normal;
  @include size-text(72px, 400);
  padding: 160px 0 20px;
}

.banner-page_text {
  @include size-text(150px, 700, 140px);
}

.banner-page_link {
  margin: 120px auto 0;
}
