body, p, button {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #626262;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
}
.menu-nav ul {
    text-align: center;
}
.menu-nav li {
    display: inline-block;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.menu-nav li:last-child {
    margin-right: 0;
}
.menu-nav li a {
    text-transform: uppercase;
}
.menu-nav li a:hover {
    color: #03a9f4;
}
.content {
    font-size: 0;
}
.articles {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    font-size: 14px;
    margin-bottom: 130px;
}
.articles:nth-child(even) {
    margin-right: 0;
}
.articles :nth-last-child(-n+2) {
    margin-bottom: 55px;
}
.articles img {
    display: block;
    width: 100%;
    height: auto;
}
.articles .img-category {
    font: 300 14px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-top: 26px;
    margin-bottom: 30px;
}
.articles h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.button-container {
    display: block;
    width: 100px;
    box-sizing: content-box;
    border: 1px;
}
.button-mr {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid;
    padding: 20px 35px;
    margin-bottom: 75px;
}