body {
    font-family: "Playfair Display", serif;
    color: #626262;
}
li.main-menu-item {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    font: 14px;
    width: 113px;
    height: 42px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #626262;
}
a {   
    text-decoration-line: none;
} 
li a:hover {
    color: #03a9f4;
}
.content {
    padding-right: 150px;
    padding-left: 150px;
}
.articles {
    display: inline-block;
    width: 450px;
    padding-right: 60px;
    padding-bottom: 30px;
    vertical-align: top;
}
h2.title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 0;    
    margin-bottom: 40px;
}
p.text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px
}
.menu {
    padding-left: 300px;
}
.category {
    text-transform: uppercase;
}
h2 {
    line-height: 24px;
    font: 14px;
}
.button-container {
    display: block;
    width: 100px;
    box-sizing: content-box;
    border: none;
}
.button {
    display: block;
    height: 60px;
    margin: 55px auto;
    font-size: 20px;
    line-height: 24px;
    margin-left: 540px;
}
p.img-category {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
}
.button {
    text-align: center;
    border-width: 1px;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 164px;
    border-color: black;
    cursor: pointer;
    font-size: 20px;
    font-family: Playfair Display;
    margin-bottom: 15px;
    margin-left: 540px;
    background: white;
}