.footer_page {
  color: $main-text-color;
  font-family: $main-font;
  @include size-text(14px, 400);
  border-top: 1px solid $border-color;
  @include flex-jastify('between-center');
}


.footer_page--link {
  @extend %link;
  color: $gradiend-color;
}

.footer_form {
  font-size: 0;
  padding: 10px 0;
}
