html {
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 35px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.page-header {
  margin-bottom: 105px;
}

.page-nav {
  padding: 0;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  color: rgb(85, 82, 82);
  font-family: 'Roboto', sans-serif;
  float: left;
}

.logo::first-letter {
  color: rgb(26, 188, 156);
  font-weight: bolder;
}

.site-navigation {
  font-size: 13px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: right;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
}

.site-navigation li {
  margin-right: 35px;
  float: left;
}

.site-navigation li:last-child {
  margin-right: 0px;
}

.site-navigation a {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 17px;
  color: rgb(15, 1, 1);
}

.site-navigation a:hover {
  color: rgb(26, 188, 156);
}


.features {
  margin-bottom: 105px;
  margin: 0 auto;
}

.features-list {
  margin: 0px;
  padding: 0px;
  
  margin-bottom: 100px;
}

.features-list-item {
  width: 255px;
  float: left;
  list-style: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.features-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.features-list-item:nth-child(-n + 3) {
  margin-bottom: 30px;
}

.backround {
  background-color: rgb(233, 240, 253);
  margin-bottom: 0;
}

.photo {
  display: block;
  height: auto;
  width: 100%;
}

.features-list-item p {
  background-color: #8C8C8C;
  color: #ffffff;
  width: 55px;
  height: 40px;
  float: right;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}

.features-list-item:hover > p {
  background-color: rgb(127, 217, 199);
}
.features-list-item:hover > h3 {
  background-color: rgb(26, 188, 156);
}

.features-list-item h3 {
  background-color: rgb(50, 50, 50);
  width: 200px;
  height: 40px;
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  padding-left: 10px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(85, 82, 82);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 95px;
  display: inline-block;
}

h2::after {
  content: '';
  border-bottom: 7px solid rgb(26, 188, 156);
  display: block;
  margin-top: 0;
  width: 165px;
  margin: auto;

  padding-bottom: 35px;
}

.rectangle {
  margin-bottom: 90px;
}


.blog {
  padding-bottom: 20px;
}

.news-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.news-list-item {
  float: left;
  width: 350px;
  height: 542px;
  background-color: #ffffff;
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  vertical-align: center;
}

.news-list-item:last-child {
  margin-right: 0px;
}

.img {
  width: 350px;
  height: 260px;
  margin-bottom: 32px;
}

.news-list-item p {
  text-align: left;
  font-size: 14px;
  color: #rgb(101, 98, 98);
  margin-bottom: 32px;
}

.news-list-item h3 {
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  color: rgb(85, 82, 82);
  margin-top: 15px;
}

.news-list-item h3::after {
  content: '';
  border-bottom: 3px solid #1abc9c;
  display: block;
  margin-top: 15px;
  width: 165px;
  margin: 0;
  margin-bottom: 32px;
  margin-top: 15px;
}
  
.news-list-item a {
  border: none;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(246, 251, 250);
  background: rgb(78, 198, 171);
  min-width: 160px;
  min-height: 50px;
  border-radius: 3%;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 165px;
}

.headline {
  display: inline-block;
  /*width: 1170px;*/
  margin: 0 auto;
  margin-bottom: 80px;
}
h2.headline {
  margin: 0 auto;
  align-content: center;
}